extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .container.my-3 
    .row 
      .col-12 
        +box-head("Chat")

    .row 
      .col-12 
        .chat
          //- .inner-head 
          //-   .inner-avatar EY
          //-   .inner-name Em Yeu 
          .inner-body 
            each chat in chats 
              div(class=(chat.infoUser.id == user.id ? "inner-outgoing" : "inner-incoming"))
                if (chat.infoUser.id != user.id)
                  .inner-name #{chat.infoUser.fullName}
                .inner-content
                  | #{chat.content}
            //- .inner-outgoing
            //-   .inner-content  
            //-     | Thế à, Okay em miu 
            //- .inner-incoming 
            //-   .inner-name Em Yeu
            //-   .inner-content
            //-     | Nhanh nha Nhanh nha
            //- .inner-outgoing
            //-   .inner-content
            //-     | Anh đến rồi mà thấy ai ở nhà đâu em? Khóa của mà :)
            //- .inner-incoming
            //-   .inner-name Em Yeu
            //-   .inner-content
            //-     | Thì em bảo nhà em không có ai ở nhà mà :)
          .inner-foot
            form(
              class="inner-form"
              action=""
            )
              input(
                type="text"
                placeholder="Type your message..."
                name="content"
              )
              button 
                i.fa-solid.fa-paper-plane